{{> nav1 active}}
 <style>

  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: #828af5ef;
    margin-bottom: 25px;
    font-size: 50px;
  }
  .logo {
    color: #828af5ef;
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
<div class="container-fluid" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Sweet Apartments</h2>
      <h4>Top apartment complex in Caloocan City and Valenzuala City</h4>      
      <p>Standing since 1980, Sweet Apartments is the place you want to be. Sweet Apartments is a series of high rise apartment complex which has over 500 rooms. There are different sizes available in the apartment complex for you to view too! We guarantee that we have state of the art security as our complex has its own security guard and a set of CCTVs. You also have the liberty to redesign a room. We boost high customer services and quick response. </p>
  
    </div>
    <div class="col-sm-4">
      <span class="fas fa-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-4">
      <span class="fas fa-globe-asia    logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> To provide cheap, comfortable, and safe apartment rooms</h4>      
      <p><strong>VISION:</strong> To be the most affordable, accomodating, and safe apartment complex</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center" style= "padding: 60px 50px;">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fas fa-key logo-small"></span>
      <h4>Secure</h4>
      <p>A series of CCTV can be found inside the apartment</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-credit-card logo-small"></span>
      <h4>Affordable</h4>
      <p>A wide range of cash options available</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-leaf logo-small"></span>
      <h4>Modern</h4>
      <p>Each room has been renovated to modern preferences</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="fas fa-user-friends logo-small"></span>
      <h4>Friendly</h4>
      <p>Friendly and helping neighbors</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-broom logo-small"></span>
      <h4>Clean</h4>
      <p>Monthly cleaning and inspectiong done</p>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-reply-all logo-small"></span>
      <h4 style="color:#303030;">Responsive</h4>
      <p>Landlord accomodates and answers all your questiosn</p>
    </div>
  </div>
</div>

{{> footer}}