
{{> nav1 active}}

      <div class="container my-5 z-depth-1">


        <!--Section: Content-->
        <section class="dark-grey-text">
      
          <div class="row pr-lg-5">
            <div class="col-md-7 mb-4 mt-5">
      
              <div class="view">
                <img src="https://passiveincomemd.com/wp-content/uploads/2020/01/investing_in_apartment_buildings-scaled.jpg" class="img-fluid" alt="smaple image">
              </div>
      
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <div>
                
                <h3 class="font-weight-bold mb-4">Trusted Apartment Since 1980</h3>
      
                <p>This line of apartment has been standing since 1980 and continues to operate till now. We boasts low pricing but excellent space and modern layout. We also respond frequently with your inquiries and provide personnel to fix them. What are you waiting for? <strong>Apply to rent NOW</strong></p>
      
                <button type="button" class="btn btn-md mr-auto" style="background-color: #210057;color:white;"><a href="/register" style="color:white;">Apply Now</a></button>
      
              </div>
            </div>
          </div>
      
        </section>
        <!--Section: Content-->
      </div>
      
      <!-- Section: Features v.1 -->

<section class="container text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Wide variety of apartment types</h2>
  <!-- Section description -->
  <p class="lead grey-text w-responsive mx-auto mb-5">A wide number of apartment types can be found,
   Each apartment type has wide range of values that you can pick. Of course the higher the price the better the apartment</p>

  <div class="row">

    <div class="col-md-3">

<div class="card">

  <!-- Card image -->
  <img class="card-img-top" src="/img/download.jpg" alt="Card image cap">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>Studio Type</a></h4>
    <!-- Text -->
    <p class="card-text">The studio apartment is an apartment with a single room.
      Typically consists of one large room that serves as the combined living, dining, and bedroom.
    </p>


  </div>

</div>
<!-- Card -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3">

      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <img class="card-img-top" src="/img/download2jpg.jpg" alt="Card image cap">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>Loft Type</a></h4>
    <!-- Text -->
    <p class="card-text">Loft stlye apartments are  open-concept spaces with high ceilings, large windows, brickwork and cement ceilings
</p>

   
  </div>

</div>
<!-- Card -->

    </div>

    <!-- Grid column -->
    <div class="col-md-3">

      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <img class="card-img-top" src="/img/download3.jpg" alt="Card image cap">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>Garden Type</a></h4>
    <!-- Text -->
    <p class="card-text">Garden type apartments are multiple-unit low-rise unit with a lawn or garden space. 
     It has its own building entrance and a lobby that adjoins other units immediately above and/or below it</p>
  

  </div>

</div>
<!-- Card -->

    </div>
    <div class="col-md-3">

      <!-- Card -->
<div class="card">

  <!-- Card image -->
  <img class="card-img-top" src="/img/download4.jpg" alt="Card image cap">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"><a>Duplex Type</a></h4>
    <!-- Text -->
    <p class="card-text">A duplex type apartment is a unit which spread over two floors connected by an indoor staircase.
      Newer apartments have open-plan designs including mezzanines.
    </p>

  </div>

</div>
<!-- Card -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<section class=" my-5 p-5" style="background-color:rgb(247, 247, 247);">
    <div class="row">
      <div class="col md-6 d-flex align-items-center">
        <p class="lead w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    
      </div>
      <div class = "col md-6">
         <div class="view">
                <img src="/img/download5.jpg" style="height: 250px; width:650px;" alt="smaple image">
              </div>
      </div>
      
    </div>
    
    <div class="row">
      <div class = "col md-6">
         <div class="view">
                <img src="/img/download6.jpg" style="height: 250px; width:650px;" alt="smaple image">
              </div>
      </div>
      <div class="col md-6 d-flex align-items-center">
        <p class="lead responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    
      </div>
      
      
    </div>
</section>
{{> footer}}